[package]
name = "kernel"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
name = "kernel"
test = false
bench = false

[dependencies]
cortex-m.workspace = true
cortex-m-rt.workspace = true
panic-halt.workspace = true
